Bruno Revelin <bruno.revelin@c-s.fr>              Bruno Revelin <Bruno.Revelin@c-s.fr>
Evan Ward <evan.ward@nrl.navy.mil>                Evan Ward <evan.ward@nrl.navy.mil>
Evan Ward <evan.ward@nrl.navy.mil>                Evan Ward <nomail@nowhere.org>
Fabien Maussion <fabien@orekit.org>               Fabien Maussion <fabien@orekit.org>
Francesco Rocca <francesco.rocca@telespazio.com>  Francesco Rocca <>
Luc Maisonobe <luc@orekit.org>                    Luc Maisonobe <Luc.Maisonobe@free.fr>
Luc Maisonobe <luc@orekit.org>                    Luc Maisonobe <Luc.Maisonobe@orekit.org>
Luc Maisonobe <luc@orekit.org>                    Luc Maisonobe <luc@orekit.org>
Pascal Parraud <pascal@orekit.org>                Pascal Parraud <pascal@orekit.org>
Romain di Costanzo <romain.di-costanzo@c-s.fr>    rdicosta <romain.di-costanzo@c-s.fr>
Steven <sljkwsk@yahoo.com>                        Steven <sljkwsk@yahoo.com>
Thierry Ceolin <thierry@orekit.org>               Thierry Ceolin <thierry@orekit.org>
Thomas Neidhart <thomas.neidhart@gmail.com>       Thomas Neidhart <thomas.neidhart@gmail.com>
Véronique Pommier-Maurussane <vero@orekit.org>    Véronique Pommier-Maurussane <vero@orekit.org>
